:root{
    --background: #0A0A0A;
    --background2: #121212;
    --cardColor: #1A1A1A;
    --textoPrincipal: #FFFFFF;
    --textoSecundario: #B3B3B3;
    --azulNeon: #00D9FF;
    --roxoNeon: #A855F7;
    --rosaNeon: #FF2D95;
    --verdeNeon: #00FF88;
    --vermelhoNeon: #FF3B3B;
    --rgb: linear-gradient(90deg, #00D9FF, #A855F7, #FF2D95);
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background: var(--background);
    font-family: var(--fontFamily); 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}
p{
    font-size:1.5rem;
    color:var(--textoPrincipal);
    
}

header{
    background:var(--background2);
    color:var(--roxoNeon);
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow: 0 5px 5px var(--roxoNeon);
    border-radius: 0px;
}
header #logo{
    width:150px;
    height:150px;
    border-radius:0px;
    background: transparent;
}
header nav ul{
    display:flex;
    gap:20px;
    list-style:none;
}
header nav ul li a{
    text-decoration:none;
    color:var(--roxoNeon);
    font-weight:800;
}
header nav ul li a:hover{
    color:var(--rosaNeon);
}

.cor{
    width:30px;
    height:30px;
    border-radius:50%;
    background:var(--background2);
}
#texto{
    font-size:4rem;

    text-align:center;

    margin-top:80px;
    margin-bottom:80px;

    text-transform:uppercase;

    color: var(--textoPrincipal);

    font-weight:900;

    letter-spacing:3px;

    position:relative;
}

#texto span{
    background: var(--rgb);

    background-clip:text;
    -webkit-text-fill-color:transparent;

    filter: drop-shadow(0 0 10px rgba(168,85,247,0.5));
}

/* LINHA ABAIXO DO TITULO */

#texto::after{
    content:"";

    width:180px;
    height:5px;

    background: var(--rgb);

    position:absolute;

    left:50%;
    transform:translateX(-50%);

    bottom:-20px;

    border-radius:20px;
}

/* CONTAINER */
#container{
    padding: 20px 8%;
}


/* GRID DOS CARDS */
.card{
    display: grid;
    margin-bottom: 120px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    gap: 100px;
    justify-content: center;
}

/* CARD */
.produto-card{
    background: var(--background2); 
    border: 2px solid var(--roxoNeon);
    border-radius: 15px;
    padding: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: 0.3s ease;
}

.produto-card:hover{
    transform: translateY(-10px);
    border-color: var(--rosaNeon);
    box-shadow: 0 10px 25px rgba(224, 24, 247, 0.851);
}

/* IMAGEM */
.produto-card img{
    width: 100%;
    height: 220px;
    object-fit: contain;
    background: var(--background2);
    border-radius: 10px;
}

/* CONTEÚDO */
.card-content{
    padding: 20px 0 0;
    color: var(--roxoNeon);
}

/* NOME DO PRODUTO */
.card-content h3{
    min-height: 90px;
    font-size: 1.1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* PREÇO */
.preco-antigo {
    font-size:1rem;
    color: var(--vermelhoNeon);
    margin-bottom: 8px;
    font-family:Montserrat, sans-serif;
}
.preco-antigo span{
    padding:5px;
    font-size:0.8rem;
    text-decoration:line-through;
    text-decoration-color: var(--verdeNeon);
}

.preco {
    font-size: 1.2rem;
    color: var(--verdeNeon);
    margin: 15px 0;
}
.preco span{
    padding:5px;
    font-size:1.2rem;
    color: var(--textoPrincipal);
}
/* BOTÃO */
.btn-comprar{
    background: var(--roxoNeon);
    color: var(--background);
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-weight: 700;
    transition: 0.3s ease;
}

.btn-comprar:hover{
    background: var(--vermelhoNeon);
    color: var(--background);
    transform: scale(1.05);
}
#imgfundo{
    position: fixed;

    bottom: -180px;
    right: 175px;

    width: 600px;

    opacity: 0.15;

    filter: blur(1px);

    z-index: -1;

    pointer-events:none;
}

/* CSS DO SOBRE */

/* STATS */

.stats-section{
    padding: 80px 8%;
}

.stats-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 30px;
}

.stat-card{
    background: var(--background2);
    border: 2px solid var(--roxoNeon);

    border-radius: 20px;

    padding: 40px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: 0.3s ease;
}

.stat-card:hover{
    transform: translateY(-10px);

    box-shadow: 0 0 25px rgba(168,85,247,0.5);

    border-color: var(--rosaNeon);
}

.stat-card i{
    font-size: 2.5rem;
    color: var(--azulNeon);

    margin-bottom: 20px;
}

.stat-numero{
    font-size: 2.5rem;
    font-weight: bold;

    color: var(--textoPrincipal);
}

.stat-label{
    color: var(--textoSecundario);
    margin-top: 10px;
}

/* SOBRE */

.sobre-section{
    margin-top: 80px;
}

.titulo-secao{
    font-size: 3rem;
    margin-bottom: 40px;

    color: var(--textoPrincipal);

    position: relative;
}

.titulo-secao::after{
    content: "";

    width: 120px;
    height: 4px;

    background: var(--rgb);

    position: absolute;
    left: 0;
    bottom: -10px;

    border-radius: 10px;
}

.sobre-texto{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sobre-texto p{
    color: var(--textoSecundario);

    line-height: 1.8;
}

/* VALORES */

.valores-section{
    margin-top: 120px;
    margin-bottom: 100px;
}

.valores-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 30px;
}

.valor-card{
    background: var(--background2);

    border: 2px solid transparent;

    border-radius: 20px;

    padding: 40px 30px;

    transition: 0.3s ease;
}

.valor-card:hover{
    border-color: var(--azulNeon);

    transform: translateY(-10px);

    box-shadow: 0 0 25px rgba(0,217,255,0.3);
}

.valor-card i{
    font-size: 2.5rem;

    margin-bottom: 20px;

    background: var(--rgb);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.valor-card h3{
    color: var(--textoPrincipal);

    margin-bottom: 20px;

    font-size: 1.5rem;
}

.valor-card p{
    color: var(--textoSecundario);

    line-height: 1.7;

    font-size: 1.1rem;
}

/* Página Contato */
/* GRID CONTATO */

.contato-grid{
    display: grid;
    margin-bottom: 120px;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 80px;
}


/* INFO */

.contato-info{
    background: var(--background2);

    border: 2px solid rgba(168,85,247,0.3);

    border-radius: 20px;

    padding: 40px;

    transition: 0.3s ease;
}

.contato-info:hover{
    box-shadow: 0 0 30px rgba(168,85,247,0.2);
}

.contato-info h3{
    font-size: 2rem;

    color: var(--textoPrincipal);

    margin-bottom: 40px;
}

.info-item{
    display: flex;

    gap: 20px;

    margin-bottom: 35px;
}

.info-item h4{
    color: var(--textoPrincipal);

    margin-bottom: 10px;
}

.info-item p{
    color: var(--textoSecundario);

    font-size: 1rem;

    line-height: 1.7;
}

.contato-extra{
    margin-top: 50px;

    padding: 25px;

    background: rgba(168,85,247,0.08);

    border-left: 4px solid var(--roxoNeon);

    border-radius: 10px;
}

.contato-extra h4{
    color: var(--textoPrincipal);

    margin-bottom: 10px;
}

/* FORM */
.contato-form-container{
    background: var(--background2);

    border: 2px solid rgba(0,217,255,0.2);

    border-radius: 20px;

    padding: 40px;
}

.contato-form-container h3{
    font-size: 2rem;

    color: var(--textoPrincipal);

    margin-bottom: 40px;
}

.form-group{
    display: flex;

    flex-direction: column;

    margin-bottom: 25px;
}

.form-group label{
    color: var(--textoPrincipal);

    margin-bottom: 10px;

    font-weight: 600;
}

.form-group input,
.form-group textarea{
    background: var(--cardColor);

    border: 2px solid transparent;

    border-radius: 12px;

    padding: 15px;

    color: var(--textoPrincipal);

    outline: none;

    transition: 0.3s ease;
}

.form-group textarea{
    resize: none;

    height: 140px;
}

.form-group input:focus,
.form-group textarea:focus{
    border-color: var(--azulNeon);

    box-shadow: 0 0 15px rgba(0,217,255,0.2);
}

/* BOTÃO */

.btn-enviar{
    width: 100%;

    padding: 16px;

    border: none;

    border-radius: 12px;

    background: var(--rgb);

    color: white;

    font-size: 1rem;

    font-weight: 700;

    cursor: pointer;

    transition: 0.3s ease;
}

.btn-enviar:hover{
    transform: translateY(-5px);

    box-shadow: 0 0 20px rgba(168,85,247,0.4);
}

/* SUCESSO */

.mensagem-sucesso{
    display: none;

    margin-top: 30px;

    background: rgba(0,255,136,0.1);

    border: 2px solid rgba(0,255,136,0.3);

    color: var(--verdeNeon);

    padding: 20px;

    border-radius: 12px;

    text-align: center;

    font-weight: bold;
}

/* Página Portifólio */

/* SUBTÍTULO */


.subtitulo-secao{
    color: var(--textoSecundario);

    margin-bottom: 50px;

    font-size: 1.1rem;
}


/* SERVIÇOS */

.servicos-section{
    margin-top: 120px;
}

.servicos-grid{
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));

    gap: 30px;
}

.servico-card{
    background: var(--background2);

    border: 2px solid rgba(168,85,247,0.2);

    border-radius: 20px;

    padding: 40px 30px;

    transition: 0.3s ease;

    text-align: center;
}

.servico-card:hover{
    transform: translateY(-10px);

    border-color: var(--azulNeon);

    box-shadow: 0 0 25px rgba(0,217,255,0.2);
}

.servico-card h3{
    color: var(--textoPrincipal);

    margin-bottom: 20px;
}

.servico-card p{
    color: var(--textoSecundario);

    font-size: 1rem;

    line-height: 1.7;

    margin-bottom: 20px;
}

.servico-preco{
    color: var(--verdeNeon);

    font-weight: bold;
}

/* TABELA */

.tabela-precos{
    margin-top: 120px;
    margin-bottom: 100px;
}

table{
    width: 100%;

    border-collapse: collapse;

    margin-top: 40px;

    overflow: hidden;

    border-radius: 20px;

    background: var(--background2);
}

thead{
    background: rgba(168,85,247,0.15);
}

th{
    color: var(--textoPrincipal);

    padding: 20px;

    text-align: left;
}

td{
    padding: 20px;

    color: var(--textoSecundario);

    border-top: 1px solid rgba(255,255,255,0.05);
}

tr:hover{
    background: rgba(255,255,255,0.03);
}

.promo{
    color: var(--verdeNeon);

    font-weight: bold;
}

/* FOOTER */

footer{
    background: var(--background2);

    border-top: 2px solid rgba(168,85,247,0.2);

    margin-top: auto;
}

/* CONTAINER */

.footer-container{
    padding: 70px 8%;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));

    gap: 50px;
}

/* LOGO */

#footer-logo{
    width: 140px;

    margin-bottom: 20px;
}

.footer-brand h3{
    color: var(--textoPrincipal);

    font-size: 1.7rem;

    margin-bottom: 10px;
}

.footer-brand p{
    color: var(--textoSecundario);

    font-size: 1rem;
}

/* TÍTULOS */

.footer-links h4,
.footer-contato h4,
.footer-redes h4{
    color: var(--textoPrincipal);

    margin-bottom: 25px;

    font-size: 1.3rem;
}

/* LINKS */

.footer-links ul{
    list-style: none;
}

.footer-links ul li{
    margin-bottom: 15px;
}

.footer-links ul li a{
    text-decoration: none;

    color: var(--textoSecundario);

    transition: 0.3s ease;
}

.footer-links ul li a:hover{
    color: var(--azulNeon);

    padding-left: 5px;
}

/* CONTATO */

.footer-contato p{
    color: var(--textoSecundario);

    margin-bottom: 15px;

    font-size: 1rem;

    display: flex;
    align-items: center;

    gap: 10px;
}

.footer-contato i{
    color: var(--roxoNeon);
}

/* COPYRIGHT */

.footer-bottom{
    border-top: 1px solid rgba(255,255,255,0.05);

    padding: 25px;

    text-align: center;
}

.footer-bottom p{
    color: var(--textoSecundario);

    font-size: 0.95rem;
}